.hamburger-menu .menu, .card-overlay, .card-img {
  width: 100%;
  height: 100%; }

* {
  margin: 0;
  padding: 0; }

body {
  background-color: #262626; }

#bgVideo {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  height: auto;
  opacity: 0.3;
  filter: blur(4px); }
  @media (max-width: 1000px) {
    #bgVideo {
      display: none; } }

.navbar {
  position: relative;
  z-index: 200; }
  .navbar-navigation {
    display: flex; }
    .navbar-navigation-left {
      width: 50vw;
      height: 100vh;
      background-color: #262626;
      position: fixed;
      left: -50vw;
      transition: left 0.8s cubic-bezier(1, 0, 0, 1); }
      @media (max-width: 800px) {
        .navbar-navigation-left {
          display: none; } }
      .navbar-navigation-left .left-img {
        width: 50%;
        position: absolute;
        box-shadow: 0 15px 60px rgba(0, 0, 1, 0.4);
        opacity: 0.7;
        border-radius: 10px; }
        @media (max-width: 1300px) {
          .navbar-navigation-left .left-img {
            width: 55%; } }
        @media (max-width: 1000px) {
          .navbar-navigation-left .left-img {
            width: 65%; } }
      .navbar-navigation-left .left-img-1 {
        top: 15%;
        left: 15%; }
        @media (max-width: 1000px) {
          .navbar-navigation-left .left-img-1 {
            left: 5%; } }
      .navbar-navigation-left .left-img-2 {
        top: 35%;
        left: 25%; }
        @media (max-width: 1000px) {
          .navbar-navigation-left .left-img-2 {
            left: 15%; } }
      .navbar-navigation-left .left-img-3 {
        top: 55%;
        left: 35%; }
        @media (max-width: 1000px) {
          .navbar-navigation-left .left-img-3 {
            left: 25%; } }
    .navbar-navigation-right {
      width: 50vw;
      height: 100vh;
      background-color: #1f1d1d;
      position: fixed;
      right: -50vw;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: right 0.8s cubic-bezier(1, 0, 0, 1); }
      @media (max-width: 800px) {
        .navbar-navigation-right {
          width: 100vw;
          right: -100vw; } }
      .navbar-navigation-right .nav-list-item {
        list-style: none; }
      .navbar-navigation-right .nav-list-link {
        font-family: "Roboto", sans-serif;
        font-size: 50px;
        font-weight: 300;
        letter-spacing: 2px;
        text-transform: capitalize;
        color: #dc3535;
        text-decoration: none;
        display: block;
        margin: 20px;
        text-align: center;
        transition: all 0.5s; }
        .navbar-navigation-right .nav-list-link:hover {
          color: #25872d;
          letter-spacing: 4px; }
        @media (max-width: 600px) {
          .navbar-navigation-right .nav-list-link {
            font-size: 40px; } }

.checkbox:checked ~ .navbar-navigation .navbar-navigation-left {
  left: 0; }

.checkbox:checked ~ .navbar-navigation .navbar-navigation-right {
  right: 0; }

.checkbox:checked ~ .hamburger-menu .menu {
  transform: rotateZ(89deg);
  height: 81%; }

.checkbox:checked ~ .hamburger-menu .menu-line-1 {
  transform: rotateZ(-40deg);
  width: 60%; }

.checkbox:checked ~ .hamburger-menu .menu-line-2 {
  opacity: 0; }

.checkbox:checked ~ .hamburger-menu .menu-line-3 {
  transform: rotateZ(40deg);
  width: 60%; }

.header {
  width: 100%;
  height: 100vh;
  position: relative;
  opacity: 0.9; }
  @media (max-width: 1200px) {
    .header {
      font-size: 3rem; } }
  @media (max-width: 1000px) {
    .header {
      background-image: url(/images/cannoli-20.jpg); } }
  .header .brand {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center; }
    @media (max-width: 500px) {
      .header .brand {
        position: absolute;
        top: 12%;
        left: 50%;
        transform: translate(-50%, -50%); } }
  .header-banner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
    @media (max-width: 1000px) {
      .header-banner {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); } }

.specialty {
  height: 100vh;
  background-color: #cacaca;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  padding: 2rem; }
  @media (max-width: 1200px) {
    .specialty {
      height: 55vh; } }
  .specialty-title {
    margin-bottom: 2rem;
    font-size: 4rem;
    color: #dc3535; }
    @media (max-width: 1200px) {
      .specialty-title {
        font-size: 3rem; } }
  .specialty-subtitle {
    font-size: 2rem;
    margin-bottom: 2rem;
    color: #dc3535; }
    @media (max-width: 1200px) {
      .specialty-subtitle {
        font-size: 1.6rem; } }
  .specialty-categories {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem 2rem; }
  .specialty-category {
    color: #262626;
    font-family: "Montserrat", sans-serif; }
    .specialty-category-image {
      margin: 1rem;
      object-fit: cover;
      height: 50vh;
      width: 50vh;
      border-radius: 50%;
      -webkit-box-shadow: 10px 10px 20px -3px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 10px 10px 20px -3px rgba(0, 0, 0, 0.75);
      box-shadow: 10px 10px 20px -3px rgba(0, 0, 0, 0.75); }
      @media (max-width: 1200px) {
        .specialty-category-image {
          height: 15vh;
          width: 15vh; } }
    .specialty-category-title {
      font-size: 2rem;
      margin-bottom: 10px;
      color: #000001; }
      @media (max-width: 1200px) {
        .specialty-category-title {
          font-size: 1.5rem; } }
    .specialty-category-description {
      font-size: 1rem; }
      @media (max-width: 1200px) {
        .specialty-category-description {
          font-size: 0.8rem; } }

.category-1 {
  grid-column: 1 / 2; }

.gallery {
  height: 100vh;
  padding: 2rem;
  color: #fff;
  font-family: "Montserrat", sans-serif; }
  .gallery .cards-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }

.contact {
  font-family: "Montserrat", sans-serif;
  height: 65vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #25872d;
  background: linear-gradient(0deg, #25872d, #cacaca 100%);
  color: #fff; }

.footer {
  font-family: "Roboto", sans-serif;
  height: 35vh;
  background-color: #262626;
  color: white;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: repeat(3, 33.3%); }

.hamburger-menu {
  width: 6rem;
  height: 6rem;
  position: fixed;
  top: 10%;
  right: 5%;
  z-index: 300;
  background-color: white;
  border-radius: 50%; }
  .hamburger-menu .menu {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
    transition: transform 0.5s; }
    .hamburger-menu .menu-line {
      width: 50%;
      height: 4px;
      background-color: #25872d;
      transform-origin: right;
      transition: all 0.5s 0.5s; }
      @media (max-width: 800px) {
        .hamburger-menu .menu-line {
          height: 3px; } }
      @media (max-width: 500px) {
        .hamburger-menu .menu-line {
          height: 2px; } }

.logo {
  font-size: 70px;
  color: #25872d;
  width: 110px;
  height: 110px;
  border: 3px solid #25872d;
  border-radius: 50%;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none; }
  @media (max-width: 1000px) {
    .logo {
      font-size: 50px;
      width: 90px;
      height: 90px; } }
  @media (max-width: 500px) {
    .logo {
      width: 50px;
      height: 50px;
      font-size: 30px;
      border-width: 2px; } }

.main-name {
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  color: #fff;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase; }
  @media (max-width: 1000px) {
    .main-name {
      font-size: 40px; } }
  @media (max-width: 500px) {
    .main-name {
      font-size: 20px;
      text-align: center; } }

.sub-name {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  color: #fff;
  text-align: center;
  margin-bottom: 2rem;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase; }
  @media (max-width: 500px) {
    .sub-name {
      font-size: 12px; } }

.main-heading {
  font-family: "Montserrat", sans-serif;
  font-size: 5.5rem;
  font-weight: 300;
  color: #fff;
  margin-bottom: 40px; }
  @media (max-width: 1600px) {
    .main-heading {
      font-size: 5rem; } }
  @media (max-width: 1000px) {
    .main-heading {
      font-size: 3rem; } }
  @media (max-width: 500px) {
    .main-heading {
      font-size: 2rem;
      margin-bottom: 20px; } }

.sub-heading {
  font-family: "Roboto", sans-serif;
  font-size: 60px;
  font-weight: 300;
  color: #dc3535;
  margin-bottom: 80px;
  text-align: center; }
  @media (max-width: 1600px) {
    .sub-heading {
      font-size: 50px;
      margin-bottom: 50px; } }
  @media (max-width: 1300px) {
    .sub-heading {
      font-size: 40px;
      margin-bottom: 30px; } }
  @media (max-width: 1000px) {
    .sub-heading {
      font-size: 30px;
      margin-bottom: 5rem; } }
  @media (max-width: 500px) {
    .sub-heading {
      font-size: 20px;
      margin-bottom: 10px; } }

.main-buttons {
  display: flex;
  justify-content: space-around; }
  @media (max-width: 1000px) {
    .main-buttons {
      padding-top: 5rem; } }
  .main-buttons a {
    padding: 2rem; }

.main-btn {
  width: 17rem;
  height: 4.5rem;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  transition: all 0.4s;
  font-weight: 700;
  border-radius: 2rem 2rem; }
  .main-btn-green {
    color: #fff;
    border: 1px solid #fff;
    background-color: #25872d; }
    .main-btn-green:hover {
      background-color: #fff;
      color: #262626;
      border: 1px solid #25872d; }
  .main-btn-red {
    color: #fff;
    background-color: #dc3535;
    border: 1px solid #fff; }
    .main-btn-red:hover {
      border: 1px solid #dc3535;
      background-color: #fff;
      color: #dc3535; }
  @media (max-width: 1000px) {
    .main-btn {
      width: 15rem;
      height: 4rem; } }
  @media (max-width: 500px) {
    .main-btn {
      width: 130px;
      height: 30px;
      font-size: 10px; } }

.card {
  width: 30%;
  height: 15vw;
  position: relative;
  overflow: hidden; }
  @media (max-width: 1000px) {
    .card {
      width: 43%;
      height: 30vw;
      position: relative;
      overflow: hidden; } }
  .card:hover .card-overlay {
    left: 0; }
  .card-overlay {
    position: absolute;
    top: 0;
    left: -100%;
    background-color: rgba(37, 135, 45, 0.6);
    color: #fff;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: left 0.7s; }
    .card-overlay-heading {
      font-family: "Roboto", sans-serif;
      font-size: 50px;
      font-weight: 300;
      letter-spacing: 2px;
      text-transform: capitalize; }
      @media (max-width: 900px) {
        .card-overlay-heading {
          font-size: 35px; } }
      @media (max-width: 650px) {
        .card-overlay-heading {
          font-size: 20px; } }
      @media (max-width: 500px) {
        .card-overlay-heading {
          display: none; } }
    .card-overlay-paragraph {
      font-family: "Roboto", sans-serif;
      font-size: 30px;
      margin-bottom: 30px;
      font-weight: 300;
      letter-spacing: 2px;
      text-transform: capitalize; }
      @media (max-width: 900px) {
        .card-overlay-paragraph {
          font-size: 20px; } }
      @media (max-width: 650px) {
        .card-overlay-paragraph {
          font-size: 15px; } }
      @media (max-width: 500px) {
        .card-overlay-paragraph {
          display: none; } }
    .card-overlay-btn {
      width: 8rem;
      height: 40px;
      color: #25872d;
      background-color: #fff;
      font-family: "Montserrat", sans-serif;
      font-size: 14px;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 1px;
      border: 1px solid #25872d;
      outline: none;
      cursor: pointer; }
      @media (max-width: 900px) {
        .card-overlay-btn {
          font-size: 12px;
          width: 12rem;
          height: 3rem;
          border-radius: 2rem 2rem; } }
      @media (max-width: 650px) {
        .card-overlay-btn {
          font-size: 10px;
          width: 100px;
          height: 30px; } }
  .card-img {
    object-fit: cover;
    opacity: 0.5; }

.gallery-title {
  font-size: 4rem;
  text-align: center;
  margin-bottom: 2rem; }

.gallery-subtitle {
  font-size: 2rem;
  margin-bottom: 2rem;
  text-align: center; }

.contact-title {
  font-size: 4rem;
  text-align: center;
  margin-bottom: 2rem; }

.contact-subtitle {
  font-size: 2rem;
  margin-bottom: 2rem;
  text-align: center; }

.footer-title {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  display: flex;
  justify-content: center;
  align-items: center; }

.footer-partners {
  grid-column: 1 / -1;
  grid-row: 2 / 3;
  display: flex;
  justify-content: space-evenly;
  align-items: center; }
  .footer-partners-partner {
    filter: sepia(1); }
  .footer-partners-slice {
    filter: invert(100); }

.footer-credits {
  grid-column: 1 / -1;
  grid-row: 3 / 4;
  display: flex;
  justify-content: center;
  align-items: center; }
