.hamburger-menu .menu, .card-overlay, .card-img {
  width: 100%;
  height: 100%; }

* {
  margin: 0;
  padding: 0; }

body {
  background-color: #262626; }

#bgVideo {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  height: auto;
  opacity: 0.3;
  filter: blur(4px); }
  @media (max-width: 1000px) {
    #bgVideo {
      display: none; } }

.navbar {
  position: relative;
  z-index: 200; }
  .navbar-navigation {
    display: flex; }
    .navbar-navigation-left {
      width: 50vw;
      height: 100vh;
      background-color: #262626;
      position: fixed;
      left: -50vw;
      transition: left 0.8s cubic-bezier(1, 0, 0, 1); }
      @media (max-width: 800px) {
        .navbar-navigation-left {
          display: none; } }
      .navbar-navigation-left .left-img {
        width: 50%;
        position: absolute;
        box-shadow: 0 15px 60px rgba(0, 0, 1, 0.4);
        opacity: 0.7;
        border-radius: 10px; }
        @media (max-width: 1300px) {
          .navbar-navigation-left .left-img {
            width: 55%; } }
        @media (max-width: 1000px) {
          .navbar-navigation-left .left-img {
            width: 65%; } }
      .navbar-navigation-left .left-img-1 {
        top: 15%;
        left: 15%; }
        @media (max-width: 1000px) {
          .navbar-navigation-left .left-img-1 {
            left: 5%; } }
      .navbar-navigation-left .left-img-2 {
        top: 35%;
        left: 25%; }
        @media (max-width: 1000px) {
          .navbar-navigation-left .left-img-2 {
            left: 15%; } }
      .navbar-navigation-left .left-img-3 {
        top: 55%;
        left: 35%; }
        @media (max-width: 1000px) {
          .navbar-navigation-left .left-img-3 {
            left: 25%; } }
    .navbar-navigation-right {
      width: 50vw;
      height: 100vh;
      background-color: #1f1d1d;
      position: fixed;
      right: -50vw;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: right 0.8s cubic-bezier(1, 0, 0, 1); }
      @media (max-width: 800px) {
        .navbar-navigation-right {
          width: 100vw;
          right: -100vw; } }
      .navbar-navigation-right .nav-list-item {
        list-style: none; }
      .navbar-navigation-right .nav-list-link {
        font-family: "Roboto", sans-serif;
        font-size: 50px;
        font-weight: 300;
        letter-spacing: 2px;
        text-transform: capitalize;
        color: #dc3535;
        text-decoration: none;
        display: block;
        margin: 20px;
        text-align: center;
        transition: all 0.5s; }
        .navbar-navigation-right .nav-list-link:hover {
          color: #25872d;
          letter-spacing: 4px; }
        @media (max-width: 600px) {
          .navbar-navigation-right .nav-list-link {
            font-size: 40px; } }

.checkbox:checked ~ .navbar-navigation .navbar-navigation-left {
  left: 0; }

.checkbox:checked ~ .navbar-navigation .navbar-navigation-right {
  right: 0; }

.checkbox:checked ~ .hamburger-menu .menu {
  transform: rotateZ(89deg);
  height: 81%; }

.checkbox:checked ~ .hamburger-menu .menu-line-1 {
  transform: rotateZ(-40deg);
  width: 60%; }

.checkbox:checked ~ .hamburger-menu .menu-line-2 {
  opacity: 0; }

.checkbox:checked ~ .hamburger-menu .menu-line-3 {
  transform: rotateZ(40deg);
  width: 60%; }

.header {
  width: 100%;
  height: 100vh;
  position: relative;
  opacity: 0.9; }
  @media (max-width: 1200px) {
    .header {
      font-size: 3rem; } }
  @media (max-width: 1000px) {
    .header {
      background-image: url(https://mattbarb93.github.io/dgios/images/cannoli-20.jpg); } }
  .header .brand {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center; }
    @media (max-width: 500px) {
      .header .brand {
        position: absolute;
        top: 12%;
        left: 50%;
        transform: translate(-50%, -50%); } }
  .header-banner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
    @media (max-width: 1000px) {
      .header-banner {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); } }
    @media (orientation: landscape) {
      .header-banner {
        padding-top: 4rem; } }

.deals {
  height: 100vh;
  background-color: #051722;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  padding: 1rem; }

.specialty {
  height: 100vh;
  background-color: #cacaca;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  padding: 1rem;
  display: flex;
  flex-direction: column; }

.gallery {
  height: 100vh;
  padding: 2rem;
  color: #fff;
  font-family: "Montserrat", sans-serif; }
  @media (max-width: 1000px) {
    .gallery {
      height: 85vh; } }
  .gallery .cards-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }

.contact {
  padding: 1rem 0 1rem 0;
  font-family: "Montserrat", sans-serif;
  height: 80vh;
  background-color: #cacaca;
  color: #25872d; }

.footer {
  padding: 1rem;
  font-family: "Roboto", sans-serif;
  height: 15vh;
  background-color: #262626;
  color: white; }

.hamburger-menu {
  width: 6rem;
  height: 6rem;
  position: fixed;
  top: 10%;
  right: 5%;
  z-index: 300;
  background-color: white;
  border-radius: 50%; }
  @media (max-width: 800px) {
    .hamburger-menu {
      width: 5rem;
      height: 5rem; } }
  @media (orientation: landscape) {
    .hamburger-menu {
      width: 4rem;
      height: 4rem; } }
  @media (max-width: 400px) {
    .hamburger-menu {
      width: 3rem;
      height: 3rem; } }
  .hamburger-menu .menu {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
    transition: transform 0.5s; }
    .hamburger-menu .menu-line {
      width: 50%;
      height: 4px;
      background-color: #25872d;
      transform-origin: right;
      transition: all 0.5s 0.5s; }
      @media (max-width: 800px) {
        .hamburger-menu .menu-line {
          height: 3px; } }
      @media (max-width: 500px) {
        .hamburger-menu .menu-line {
          height: 2px; } }

.logo {
  font-size: 70px;
  color: #25872d;
  width: 110px;
  height: 110px;
  border: 3px solid #25872d;
  border-radius: 50%;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none; }
  @media (max-width: 1000px) {
    .logo {
      font-size: 50px;
      width: 90px;
      height: 90px; } }
  @media (max-width: 500px) {
    .logo {
      width: 50px;
      height: 50px;
      font-size: 30px;
      border-width: 2px; } }

.main-name {
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  color: #fff;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase; }
  @media (max-width: 1000px) {
    .main-name {
      font-size: 2rem; } }
  @media (max-width: 500px) {
    .main-name {
      font-size: 1rem;
      font-size: 18px;
      text-align: center; } }

.sub-name {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  color: #fff;
  text-align: center;
  margin-bottom: 2rem;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase; }
  @media (max-width: 500px) {
    .sub-name {
      font-size: 1rem; } }
  @media (orientation: landscape) {
    .sub-name {
      margin: 0; } }

.main-heading {
  font-family: "Montserrat", sans-serif;
  font-size: 5.5rem;
  font-weight: 300;
  color: #fff;
  margin-bottom: 40px; }
  @media (orientation: landscape) {
    .main-heading {
      margin-bottom: 1rem; } }
  @media (max-width: 1600px) {
    .main-heading {
      font-size: 5rem; } }
  @media (max-width: 1000px) {
    .main-heading {
      font-size: 3rem; } }
  @media (max-width: 500px) {
    .main-heading {
      font-size: 1.8rem;
      margin-bottom: 20px; } }

.sub-heading {
  font-family: "Roboto", sans-serif;
  font-size: 60px;
  font-weight: 300;
  color: #fff;
  margin-bottom: 80px;
  text-align: center; }
  @media (max-width: 1600px) {
    .sub-heading {
      font-size: 50px;
      margin-bottom: 50px; } }
  @media (max-width: 1300px) {
    .sub-heading {
      font-size: 40px;
      margin-bottom: 30px; } }
  @media (max-width: 1000px) {
    .sub-heading {
      font-size: 30px;
      margin-bottom: 5rem; } }
  @media (max-width: 500px) {
    .sub-heading {
      font-size: 20px;
      margin-bottom: 10px; } }

.main-buttons {
  display: flex;
  justify-content: space-around; }
  @media (max-width: 1000px) {
    .main-buttons {
      padding-top: 5rem; } }
  @media (max-width: 500px) {
    .main-buttons {
      padding-top: 1rem;
      flex-direction: column; } }
  @media (orientation: landscape) {
    .main-buttons {
      padding-top: 0; } }
  .main-buttons a {
    padding: 2rem; }
    @media (orientation: landscape) {
      .main-buttons a {
        padding-top: 1rem; } }

.deals-title {
  font-size: 4rem;
  color: #dc3535;
  height: 5%; }
  @media (max-width: 1200px) {
    .deals-title {
      font-size: 3rem; } }
  @media (max-width: 500px) {
    .deals-title {
      font-size: 2.5rem; } }
  @media (max-width: 400px) {
    .deals-title {
      font-size: 2rem; } }
  @media (orientation: landscape) {
    .deals-title {
      font-size: 2.5rem; } }

.deals-subtitle {
  font-size: 2rem;
  color: #dc3535;
  height: 5%; }
  @media (max-width: 1200px) {
    .deals-subtitle {
      font-size: 1.6rem; } }
  @media (max-width: 500px) {
    .deals-subtitle {
      font-size: 1.4rem; } }
  @media (max-width: 400px) {
    .deals-subtitle {
      font-size: 1.2rem;
      margin-bottom: 1rem; } }
  @media (orientation: landscape) {
    .deals-subtitle {
      margin-bottom: 1rem; } }

.deals-slideshow {
  width: 100%;
  height: 80vh;
  background-color: grey; }

.deals-slide {
  width: 100%;
  height: 80vh;
  object-fit: cover; }
  .deals-slide img {
    width: inherit;
    height: inherit;
    object-fit: cover; }

.specialty-title {
  margin-bottom: 2rem;
  font-size: 4rem;
  color: #dc3535;
  height: 5%; }
  @media (max-width: 1200px) {
    .specialty-title {
      font-size: 3rem; } }
  @media (max-width: 500px) {
    .specialty-title {
      margin-bottom: 1rem;
      font-size: 2.5rem; } }
  @media (max-width: 400px) {
    .specialty-title {
      font-size: 2rem; } }
  @media (orientation: landscape) {
    .specialty-title {
      margin-bottom: 3rem;
      margin-top: 1rem;
      font-size: 2.5rem; } }

.specialty-subtitle {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #dc3535;
  height: 5%; }
  @media (max-width: 1200px) {
    .specialty-subtitle {
      font-size: 1.6rem; } }
  @media (max-width: 500px) {
    .specialty-subtitle {
      font-size: 1.4rem; } }
  @media (max-width: 400px) {
    .specialty-subtitle {
      font-size: 1.2rem;
      margin-bottom: 1rem; } }
  @media (orientation: landscape) {
    .specialty-subtitle {
      margin-bottom: 1rem; } }

.specialty-categories {
  display: flex;
  height: 90%;
  justify-content: center;
  flex-direction: row;
  column-gap: 2rem 2rem; }
  @media (max-width: 500px) {
    .specialty-categories {
      flex-direction: column;
      justify-content: space-evenly; } }

.specialty-category {
  color: #262626;
  font-family: "Montserrat", sans-serif; }
  .specialty-category-image {
    margin: 1rem;
    object-fit: cover;
    height: 50vh;
    width: 50vh;
    border-radius: 50%;
    -webkit-box-shadow: 10px 10px 20px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 20px -3px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 20px -3px rgba(0, 0, 0, 0.75); }
    @media (orientation: landscape) {
      .specialty-category-image {
        height: 30vh;
        width: 30vh; } }
    @media (max-width: 900px) {
      .specialty-category-image {
        height: 15vh;
        width: 15vh; } }
    @media (max-width: 500px) {
      .specialty-category-image {
        height: 10vh;
        width: 10vh; } }
  .specialty-category-title {
    font-size: 2rem;
    margin-bottom: 10px;
    color: #000001; }
    @media (max-width: 1200px) {
      .specialty-category-title {
        font-size: 1.5rem; } }
  .specialty-category-description {
    font-size: 1rem;
    width: 100%; }
    @media (max-width: 1200px) {
      .specialty-category-description {
        font-size: 0.8rem; } }

.specialty-1 {
  grid-column: 1 / 2;
  grid-row: 1 / 2; }

.specialty-2 {
  grid-column: 1 / 2;
  grid-row: 2 / 3; }

.specialty-3 {
  grid-column: 1 / 2;
  grid-row: 3 / 4; }

.main-btn {
  width: 17rem;
  height: 4.5rem;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  transition: all 0.4s;
  font-weight: 700;
  border-radius: 2rem 2rem; }
  .main-btn-green {
    color: #fff;
    border: 1px solid #fff;
    background-color: #25872d; }
    .main-btn-green:hover {
      background-color: #fff;
      color: #262626;
      border: 1px solid #25872d; }
  .main-btn-red {
    color: #fff;
    background-color: #dc3535;
    border: 1px solid #fff; }
    .main-btn-red:hover {
      border: 1px solid #dc3535;
      background-color: #fff;
      color: #dc3535; }
  @media (max-width: 1000px) {
    .main-btn {
      width: 15rem;
      height: 4rem; } }
  @media (max-width: 700px) {
    .main-btn {
      width: 12rem;
      height: 3rem;
      font-size: 1rem; } }

.card {
  width: 30%;
  height: 15vw;
  position: relative;
  overflow: hidden; }
  @media (max-width: 1000px) {
    .card {
      width: 43%;
      height: 30vw;
      position: relative;
      overflow: hidden; } }
  @media (max-height: 800px) {
    .card {
      width: 40%;
      height: 45vw; } }
  @media (orientation: landscape) {
    .card {
      width: 30%;
      height: 25vw; } }
  @media (max-width: 400px) {
    .card {
      width: 43%;
      height: 30vw; } }
  @media (orientation: landscape) {
    .card {
      width: 30%;
      height: 10vw; } }
  .card:hover .card-overlay {
    left: 0; }
  .card-overlay {
    position: absolute;
    top: 0;
    left: -100%;
    background-color: rgba(37, 135, 45, 0.6);
    color: #fff;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: left 0.7s; }
    .card-overlay-heading {
      font-family: "Roboto", sans-serif;
      font-size: 50px;
      font-weight: 300;
      letter-spacing: 2px;
      text-transform: capitalize; }
      @media (max-width: 900px) {
        .card-overlay-heading {
          font-size: 35px; } }
      @media (max-width: 650px) {
        .card-overlay-heading {
          font-size: 20px; } }
      @media (max-width: 500px) {
        .card-overlay-heading {
          display: none; } }
    .card-overlay-paragraph {
      font-family: "Roboto", sans-serif;
      font-size: 30px;
      margin-bottom: 30px;
      font-weight: 300;
      letter-spacing: 2px;
      text-transform: capitalize; }
      @media (max-width: 900px) {
        .card-overlay-paragraph {
          font-size: 20px; } }
      @media (max-width: 650px) {
        .card-overlay-paragraph {
          font-size: 15px; } }
      @media (max-width: 500px) {
        .card-overlay-paragraph {
          display: none; } }
    .card-overlay-btn {
      width: 8rem;
      height: 40px;
      color: #25872d;
      background-color: #fff;
      font-family: "Montserrat", sans-serif;
      font-size: 14px;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 1px;
      border: 1px solid #25872d;
      outline: none;
      cursor: pointer; }
      @media (max-width: 900px) {
        .card-overlay-btn {
          font-size: 12px;
          width: 12rem;
          height: 3rem;
          border-radius: 2rem 2rem; } }
      @media (max-width: 650px) {
        .card-overlay-btn {
          font-size: 10px;
          width: 100px;
          height: 30px; } }
  .card-img {
    object-fit: cover;
    opacity: 0.5; }

.gallery-title {
  font-size: 4rem;
  text-align: center;
  margin-bottom: 2rem; }
  @media (max-width: 1000px) {
    .gallery-title {
      font-size: 3rem; } }
  @media (max-width: 500px) {
    .gallery-title {
      font-size: 2rem; } }
  @media (orientation: landscape) {
    .gallery-title {
      font-size: 2.5rem; } }

.gallery-subtitle {
  font-size: 2rem;
  margin-bottom: 2rem;
  text-align: center; }
  @media (max-width: 1000px) {
    .gallery-subtitle {
      font-size: 1.2rem; } }
  @media (max-width: 500px) {
    .gallery-subtitle {
      font-size: 1rem; } }

.contact-title {
  font-size: 4rem;
  text-align: center;
  margin-bottom: 2rem;
  height: 10%; }
  @media (max-width: 1000px) {
    .contact-title {
      font-size: 3rem;
      margin-bottom: 0; } }
  @media (max-width: 500px) {
    .contact-title {
      font-size: 2.5rem; } }
  @media (max-width: 400px) {
    .contact-title {
      font-size: 2rem; } }
  @media (orientation: landscape) {
    .contact-title {
      font-size: 2.5rem;
      margin-bottom: 0.5rem; } }

.contact-wrapper {
  height: 50%;
  margin: 0 0 2rem 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 2px solid #262626;
  border-top: 2px solid #262626; }
  @media (max-width: 500px) {
    .contact-wrapper {
      font-size: 1.8rem;
      flex-direction: column;
      justify-content: space-evenly; } }
  @media (orientation: landscape) {
    .contact-wrapper {
      margin: 1rem 0 0.5rem 0; } }

.contact-subtitle {
  font-size: 2rem;
  text-align: center; }
  @media (max-width: 500px) {
    .contact-subtitle {
      font-size: 1.8rem;
      flex-direction: column; } }

.contact-button {
  text-align: center; }

.contact-hours {
  color: #262626; }

.contact-partners {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%; }
  @media (max-width: 1000px) {
    .contact-partners {
      height: 30%; } }
  @media (max-width: 400px) {
    .contact-partners {
      height: 20%; } }
  @media (orientation: landscape) {
    .contact-partners {
      height: 20%; } }

.contact img {
  width: 150px; }
  @media (orientation: landscape) and (max-width: 1000) {
    .contact img {
      width: 75px; } }
  @media (max-width: 800px) {
    .contact img {
      max-width: 100px; } }
  @media (max-width: 500px) {
    .contact img {
      max-width: 100px; } }
  @media (orientation: landscape) {
    .contact img {
      width: 75px; } }

.footer-title {
  text-align: center; }

.footer-social-media {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%; }
  @media (max-width: 1000px) {
    .footer-social-media {
      height: 70%; } }
  .footer-social-media a {
    text-decoration: none;
    font-size: 4rem; }
    @media (max-width: 500px) {
      .footer-social-media a {
        font-size: 3rem; } }
    @media (orientation: landscape) {
      .footer-social-media a {
        font-size: 2.5rem; } }
  .footer-social-media-facebook {
    color: #3b5998; }
  .footer-social-media-instagram {
    color: #c32aa3; }

.footer-credits {
  text-align: center; }
  @media (max-width: 500px) {
    .footer-credits {
      font-size: 1rem; } }
  @media (orientation: landscape) {
    .footer-credits {
      font-size: 1rem; } }
