.hamburger-menu .menu {
  width: 100%;
  height: 100%; }

* {
  margin: 0;
  padding: 0; }

body {
  background-color: #262626; }

#bgVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  height: auto;
  opacity: 0.3; }

.navbar {
  position: relative;
  z-index: 200; }
  .navbar-navigation {
    display: flex; }
    .navbar-navigation-left {
      width: 50vw;
      height: 100vh;
      background-color: #262626;
      position: fixed;
      left: -50vw;
      transition: left 0.8s cubic-bezier(1, 0, 0, 1); }
      @media (max-width: 800px) {
        .navbar-navigation-left {
          display: none; } }
      .navbar-navigation-left .left-img {
        width: 50%;
        position: absolute;
        box-shadow: 0 15px 60px rgba(0, 0, 1, 0.4);
        opacity: 0.7;
        border-radius: 10px; }
        @media (max-width: 1300px) {
          .navbar-navigation-left .left-img {
            width: 55%; } }
        @media (max-width: 1000px) {
          .navbar-navigation-left .left-img {
            width: 65%; } }
      .navbar-navigation-left .left-img-1 {
        top: 15%;
        left: 15%; }
        @media (max-width: 1000px) {
          .navbar-navigation-left .left-img-1 {
            left: 5%; } }
      .navbar-navigation-left .left-img-2 {
        top: 35%;
        left: 25%; }
        @media (max-width: 1000px) {
          .navbar-navigation-left .left-img-2 {
            left: 15%; } }
      .navbar-navigation-left .left-img-3 {
        top: 55%;
        left: 35%; }
        @media (max-width: 1000px) {
          .navbar-navigation-left .left-img-3 {
            left: 25%; } }
    .navbar-navigation-right {
      width: 50vw;
      height: 100vh;
      background-color: #1f1d1d;
      position: fixed;
      right: -50vw;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: right 0.8s cubic-bezier(1, 0, 0, 1); }
      @media (max-width: 800px) {
        .navbar-navigation-right {
          width: 100vw;
          right: -100vw; } }
      .navbar-navigation-right .nav-list-item {
        list-style: none; }
      .navbar-navigation-right .nav-list-link {
        font-family: "Dancing Script", cursive;
        font-size: 50px;
        font-weight: 300;
        letter-spacing: 2px;
        text-transform: capitalize;
        color: #bbb;
        text-decoration: none;
        display: block;
        margin: 20px;
        text-align: center;
        transition: all 0.5s; }
        .navbar-navigation-right .nav-list-link:hover {
          color: #d3ab55;
          letter-spacing: 4px; }
        @media (max-width: 600px) {
          .navbar-navigation-right .nav-list-link {
            font-size: 40px; } }

.checkbox:checked ~ .navbar-navigation .navbar-navigation-left {
  left: 0; }

.checkbox:checked ~ .navbar-navigation .navbar-navigation-right {
  right: 0; }

.checkbox:checked ~ .hamburger-menu .menu {
  transform: rotateZ(90deg); }

.checkbox:checked ~ .hamburger-menu .menu-line-1 {
  transform: rotateZ(-40deg); }

.checkbox:checked ~ .hamburger-menu .menu-line-2 {
  opacity: 0; }

.checkbox:checked ~ .hamburger-menu .menu-line-3 {
  transform: rotateZ(40deg); }

.header {
  width: 100%;
  height: 100vh;
  position: relative; }
  .header .brand {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center; }
    @media (max-width: 500px) {
      .header .brand {
        position: absolute;
        top: 12%;
        left: 50%;
        transform: translate(-50%, -50%); } }
  .header-banner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.gallery .cards-wrapper {
  display: flex;
  flex-wrap: wrap; }

.hamburger-menu {
  width: 40px;
  height: 40px;
  position: fixed;
  top: 10%;
  right: 5%;
  z-index: 300; }
  @media (max-width: 800px) {
    .hamburger-menu {
      width: 35px;
      height: 35px; } }
  @media (max-width: 500px) {
    .hamburger-menu {
      width: 25px;
      height: 25px; } }
  .hamburger-menu .menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
    transition: transform 0.5s; }
    .hamburger-menu .menu-line {
      width: 100%;
      height: 4px;
      background-color: #bbb;
      transform-origin: right;
      transition: all 0.5s 0.5s; }
      @media (max-width: 800px) {
        .hamburger-menu .menu-line {
          height: 3px; } }
      @media (max-width: 500px) {
        .hamburger-menu .menu-line {
          height: 2px; } }
