.hamburger-menu .menu, .card-overlay, .card-img {
  width: 100%;
  height: 100%; }

* {
  margin: 0;
  padding: 0; }

body {
  background-color: #262626; }

#bgVideo {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  height: auto;
  opacity: 0.3;
  filter: blur(4px); }

.navbar {
  position: relative;
  z-index: 200; }
  .navbar-navigation {
    display: flex; }
    .navbar-navigation-left {
      width: 50vw;
      height: 100vh;
      background-color: #262626;
      position: fixed;
      left: -50vw;
      transition: left 0.8s cubic-bezier(1, 0, 0, 1); }
      @media (max-width: 800px) {
        .navbar-navigation-left {
          display: none; } }
      .navbar-navigation-left .left-img {
        width: 50%;
        position: absolute;
        box-shadow: 0 15px 60px rgba(0, 0, 1, 0.4);
        opacity: 0.7;
        border-radius: 10px; }
        @media (max-width: 1300px) {
          .navbar-navigation-left .left-img {
            width: 55%; } }
        @media (max-width: 1000px) {
          .navbar-navigation-left .left-img {
            width: 65%; } }
      .navbar-navigation-left .left-img-1 {
        top: 15%;
        left: 15%; }
        @media (max-width: 1000px) {
          .navbar-navigation-left .left-img-1 {
            left: 5%; } }
      .navbar-navigation-left .left-img-2 {
        top: 35%;
        left: 25%; }
        @media (max-width: 1000px) {
          .navbar-navigation-left .left-img-2 {
            left: 15%; } }
      .navbar-navigation-left .left-img-3 {
        top: 55%;
        left: 35%; }
        @media (max-width: 1000px) {
          .navbar-navigation-left .left-img-3 {
            left: 25%; } }
    .navbar-navigation-right {
      width: 50vw;
      height: 100vh;
      background-color: #1f1d1d;
      position: fixed;
      right: -50vw;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: right 0.8s cubic-bezier(1, 0, 0, 1); }
      @media (max-width: 800px) {
        .navbar-navigation-right {
          width: 100vw;
          right: -100vw; } }
      .navbar-navigation-right .nav-list-item {
        list-style: none; }
      .navbar-navigation-right .nav-list-link {
        font-family: "Roboto", sans-serif;
        font-size: 50px;
        font-weight: 300;
        letter-spacing: 2px;
        text-transform: capitalize;
        color: #dc3535;
        text-decoration: none;
        display: block;
        margin: 20px;
        text-align: center;
        transition: all 0.5s; }
        .navbar-navigation-right .nav-list-link:hover {
          color: #25872d;
          letter-spacing: 4px; }
        @media (max-width: 600px) {
          .navbar-navigation-right .nav-list-link {
            font-size: 40px; } }

.checkbox:checked ~ .navbar-navigation .navbar-navigation-left {
  left: 0; }

.checkbox:checked ~ .navbar-navigation .navbar-navigation-right {
  right: 0; }

.checkbox:checked ~ .hamburger-menu .menu {
  transform: rotateZ(90deg); }

.checkbox:checked ~ .hamburger-menu .menu-line-1 {
  transform: rotateZ(-40deg); }

.checkbox:checked ~ .hamburger-menu .menu-line-2 {
  opacity: 0; }

.checkbox:checked ~ .hamburger-menu .menu-line-3 {
  transform: rotateZ(40deg); }

.header {
  width: 100%;
  height: 100vh;
  position: relative; }
  .header .brand {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center; }
    @media (max-width: 500px) {
      .header .brand {
        position: absolute;
        top: 12%;
        left: 50%;
        transform: translate(-50%, -50%); } }
  .header-banner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.gallery .cards-wrapper {
  display: flex;
  flex-wrap: wrap; }

.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 10vh; }

.footer {
  font-family: "Roboto", sans-serif;
  height: 20vh;
  background-color: #000001;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center; }

.hamburger-menu {
  width: 40px;
  height: 40px;
  position: fixed;
  top: 10%;
  right: 5%;
  z-index: 300; }
  @media (max-width: 800px) {
    .hamburger-menu {
      width: 35px;
      height: 35px; } }
  @media (max-width: 500px) {
    .hamburger-menu {
      width: 25px;
      height: 25px; } }
  .hamburger-menu .menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
    transition: transform 0.5s; }
    .hamburger-menu .menu-line {
      width: 100%;
      height: 4px;
      background-color: #25872d;
      transform-origin: right;
      transition: all 0.5s 0.5s; }
      @media (max-width: 800px) {
        .hamburger-menu .menu-line {
          height: 3px; } }
      @media (max-width: 500px) {
        .hamburger-menu .menu-line {
          height: 2px; } }

.logo {
  font-size: 70px;
  color: #25872d;
  width: 110px;
  height: 110px;
  border: 3px solid #25872d;
  border-radius: 50%;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none; }
  @media (max-width: 1000px) {
    .logo {
      font-size: 50px;
      width: 90px;
      height: 90px; } }
  @media (max-width: 500px) {
    .logo {
      width: 50px;
      height: 50px;
      font-size: 30px;
      border-width: 2px; } }

.main-name {
  font-family: "Montserrat", sans-serif;
  font-size: 50px;
  color: #fff;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase; }
  @media (max-width: 1000px) {
    .main-name {
      font-size: 40px; } }
  @media (max-width: 500px) {
    .main-name {
      font-size: 20px;
      text-align: center; } }

.sub-name {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  color: #fff;
  text-align: center;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase; }
  @media (max-width: 500px) {
    .sub-name {
      font-size: 12px; } }

.main-heading {
  font-family: "Montserrat", sans-serif;
  font-size: 100px;
  font-weight: 300;
  color: #fff;
  margin-bottom: 40px; }
  @media (max-width: 1600px) {
    .main-heading {
      font-size: 80px; } }
  @media (max-width: 1000px) {
    .main-heading {
      font-size: 60px; } }
  @media (max-width: 500px) {
    .main-heading {
      font-size: 40px;
      margin-bottom: 20px; } }

.sub-heading {
  font-family: "Roboto", sans-serif;
  font-size: 60px;
  font-weight: 300;
  color: #dc3535;
  margin-bottom: 80px;
  text-align: center; }
  @media (max-width: 1600px) {
    .sub-heading {
      font-size: 50px;
      margin-bottom: 50px; } }
  @media (max-width: 1300px) {
    .sub-heading {
      font-size: 40px;
      margin-bottom: 30px; } }
  @media (max-width: 1000px) {
    .sub-heading {
      font-size: 30px; } }
  @media (max-width: 500px) {
    .sub-heading {
      font-size: 20px;
      margin-bottom: 10px; } }

.main-btn {
  width: 170px;
  height: 45px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  transition: all 0.4s;
  font-weight: 700; }
  .main-btn-green {
    color: #25872d;
    border: 1px solid #25872d; }
    .main-btn-green:hover {
      background-color: #25872d;
      color: #262626; }
  .main-btn-red {
    color: #dc3535;
    border: 1px solid #dc3535; }
    .main-btn-red:hover {
      background-color: #dc3535;
      color: #262626; }
  @media (max-width: 800px) {
    .main-btn {
      width: 150px;
      height: 35px;
      font-size: 12px; } }
  @media (max-width: 500px) {
    .main-btn {
      width: 130px;
      height: 30px;
      font-size: 10px; } }

.card {
  width: 33.3333%;
  height: 20vw;
  position: relative;
  overflow: hidden; }
  .card:hover .card-overlay {
    left: 0; }
  .card-overlay {
    position: absolute;
    top: 0;
    left: -100%;
    background-color: rgba(37, 135, 45, 0.6);
    color: #fff;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: left 0.7s; }
    .card-overlay-heading {
      font-family: "Roboto", sans-serif;
      font-size: 50px;
      font-weight: 300;
      letter-spacing: 2px;
      text-transform: capitalize; }
      @media (max-width: 900px) {
        .card-overlay-heading {
          font-size: 35px; } }
      @media (max-width: 650px) {
        .card-overlay-heading {
          font-size: 20px; } }
      @media (max-width: 500px) {
        .card-overlay-heading {
          display: none; } }
    .card-overlay-paragraph {
      font-family: "Roboto", sans-serif;
      font-size: 30px;
      margin-bottom: 30px;
      font-weight: 300;
      letter-spacing: 2px;
      text-transform: capitalize; }
      @media (max-width: 900px) {
        .card-overlay-paragraph {
          font-size: 20px; } }
      @media (max-width: 650px) {
        .card-overlay-paragraph {
          font-size: 15px; } }
      @media (max-width: 500px) {
        .card-overlay-paragraph {
          display: none; } }
    .card-overlay-btn {
      width: 150px;
      height: 40px;
      color: #25872d;
      background-color: #fff;
      font-family: "Montserrat", sans-serif;
      font-size: 14px;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 1px;
      border: 1px solid #25872d;
      outline: none;
      cursor: pointer; }
      @media (max-width: 900px) {
        .card-overlay-btn {
          font-size: 12px;
          width: 130px;
          height: 30px; } }
      @media (max-width: 650px) {
        .card-overlay-btn {
          font-size: 10px;
          width: 100px;
          height: 30px; } }
  .card-img {
    object-fit: cover;
    opacity: 0.5; }

.gallery-title {
  font-family: "Roboto", sans-serif;
  font-size: 6rem;
  font-weight: 300;
  color: #fff;
  text-align: center; }
