.navbar {
  position: relative;
  z-index: 200;
  &-navigation {
    display: flex;

    &-left {
      width: 50vw;
      height: 100vh;
      background-color: $color-dark;
      position: fixed;
      left: -50vw;
      transition: left 0.8s cubic-bezier(1, 0, 0, 1);

      @media (max-width: 800px) {
        display: none;
      }

      .left-img {
        width: 50%;
        position: absolute;
        box-shadow: 0 15px 60px rgba($color-black, 0.4);
        opacity: 0.7;
        border-radius: 10px;

        @media (max-width: 1300px) {
          width: 55%;
        }

        @media (max-width: 1000px) {
          width: 65%;
        }
      }

      .left-img-1 {
        top: 15%;
        left: 15%;
        @media (max-width: 1000px) {
          left: 5%;
        }
      }
      .left-img-2 {
        top: 35%;
        left: 25%;

        @media (max-width: 1000px) {
          left: 15%;
        }
      }
      .left-img-3 {
        top: 55%;
        left: 35%;
        @media (max-width: 1000px) {
          left: 25%;
        }
      }
    }

    &-right {
      width: 50vw;
      height: 100vh;
      background-color: #1f1d1d;
      position: fixed;
      right: -50vw;
      @include flexLayout;
      transition: right 0.8s cubic-bezier(1, 0, 0, 1);

      @media (max-width: 800px) {
        width: 100vw;
        right: -100vw;
      }

      .nav-list {
        &-item {
          list-style: none;
        }

        &-link {
          font-family: $font-roboto;
          font-size: 50px;
          @include textStyles(capitalize);
          color: $color-secondary;
          text-decoration: none;
          display: block;
          margin: 20px;
          text-align: center;
          transition: all 0.5s;

          &:hover {
            color: $color-primary;
            letter-spacing: 4px;
          }

          @media (max-width: 600px) {
            font-size: 40px;
          }
        }
      }
    }
  }
}

//CSS properties to make an action based on click
.checkbox:checked ~ .navbar-navigation .navbar-navigation-left {
  left: 0;
}

.checkbox:checked ~ .navbar-navigation .navbar-navigation-right {
  right: 0;
}

.checkbox:checked ~ .hamburger-menu .menu {
    transform: rotateZ(89deg);
    height: 81%;
}

.checkbox:checked ~ .hamburger-menu .menu-line-1 {
  transform: rotateZ(-40deg);
  width: 60%;
}
.checkbox:checked ~ .hamburger-menu .menu-line-2 {
  opacity: 0;
}
.checkbox:checked ~ .hamburger-menu .menu-line-3 {
  transform: rotateZ(40deg);
  width: 60%;
}

.header {
  width: 100%;
  height: 100vh;
  position: relative; //to manage layout of brand according to its parent element
  opacity: 0.9;



  @media (max-width: 1200px) {
    font-size: 3rem;
  }

  @media (max-width: 1000px){
    background-image: url(/images/cannoli-20.jpg);
  }

  .brand {
    @include centering(15%);
    display: flex;
    align-items: center;

    @media (max-width: 500px) {
      @include centering(12%);
    }
  }

  &-banner {
    @include centering(50%);
    text-align: center;

    @media (max-width: 1000px) {
      @include centering(50%);
    }

  }
}

.specialty {
  height: 100vh;
  background-color: $color-light-grey;
  font-family: $font-montserrat;
  text-align: center;
  padding: 2rem;

  @media (max-width: 1200px) {
    height: 55vh;
  }

  &-title {
    margin-bottom: 2rem;
    font-size: 4rem;
    color: $color-secondary;

    @media (max-width: 1200px) {
      font-size: 3rem;
    }
  }

  &-subtitle {
    font-size: 2rem;
    margin-bottom: 2rem;
    color: $color-secondary;

    @media (max-width: 1200px) {
      font-size: 1.6rem;
    }
  }

  &-categories {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem 2rem;
  }

  &-category {
    color: $color-dark;
    font-family: $font-montserrat;

    &-image {
      margin: 1rem;
      object-fit: cover;
      height: 50vh;
      width: 50vh;
      border-radius: 50%;
      -webkit-box-shadow: 10px 10px 20px -3px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 10px 10px 20px -3px rgba(0, 0, 0, 0.75);
      box-shadow: 10px 10px 20px -3px rgba(0, 0, 0, 0.75);

      @media (max-width: 1200px) {
        height: 15vh;
      width: 15vh;
      }
    }

    &-title {
      font-size: 2rem;
      margin-bottom: 10px;
      color: $color-black;

      @media (max-width: 1200px) {
        font-size: 1.5rem;
      }
    }

    &-description {
      font-size: 1rem;
      @media (max-width: 1200px) {
        font-size: 0.8rem;
      }
    }
  }
}

.category-1 {
  grid-column: 1 / 2;
}

.gallery {
  height: 100vh;
  padding: 2rem;
  color: $color-white;
  font-family: $font-montserrat;

  @media(max-width: 1000px){
    height: 85vh;
  }
  .cards-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.contact {
  padding: 1rem 0 1rem 0;
  font-family: $font-montserrat;
  height: 80vh;
  background-color: $color-light-grey;
  color: $color-primary;
}

.footer {
  padding: 1rem;
  font-family: $font-roboto;
  height: 15vh;
  background-color: $color-dark;
  color: white;
}
